.div-toda{
    display:flex;
    
}
.div-filme-toda{
    width:50%;
    height:700px;
}
.div-filme{
    padding:10px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    text-align:center;
}
.div-filme:nth-child(even){
    background:gray;
}
img{
    margin:0px;
    display:flex;
    align-items:center;
}
.div-foto-todo{
    width:50%;
    display:flex;
    align-items:center;
}